*
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */
.headroom {
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}



html,
body {
	height: 100%;
}

p {
	line-height: 1.8;
}

p + p {
	margin-top: 36px;
}

nav.main {
	height: 82px;
	color: #fff;
}

h2.logo {
	color: #fff;
	display: block;
	font-size: 30px;
	margin: 0;
	padding: 20px 0;
	position: relative;
}

h2.logo a {
	color: #fff;
	text-decoration: none;
}

h2.logo a:hover {
	color: #fff;
	text-decoration: none;
}

h2.section-header {
	margin-top: 40px;
}

h2.leaderboard {
	font-family: 'sinkin300light', helvetica, arial, sans-serif;
	font-size: 50px;
	line-height: 1.4;
	top: 30%;
	position: relative;
}

.width100 {
	width: 100%;
}

a.button {
	color: #C11E00;
	border: 3px solid #C11E00;
	font-size: 27px;
	display: inline-block;
	margin: 20px 0 0;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

a.button:hover {
	border: 3px solid #FF9C08;
	color: #FF9C08;
	transition: color .15s linear,
		border .15s linear;
}

.btnTool {
	border: 1px solid #fff;
}

.btnTool:hover {
	border: 1px solid #ff0000;
	transition: border-color .5s linear;
}

.btn-defaultTool {
	background: #fff;
	padding: 0;
	border: none;	
}

ul.nav-header {
	display: block;
	padding-top: 0px;
}

ul.nav-header li {
	float: right;
	font-family: 'sinkin200', arial;
	font-size: 12px;
	list-style-type: none;
	margin: 29px 0 0;
	padding: 0 0 0 50px;
}

ul.nav-header li a {
	font-size: 15px;
	text-decoration: none;
	color: #fff;
}

ul.nav-header li a:hover {
	transition: color 0.2s linear;
	color: #FFA200;
}

ul.nav-header li a.active {
	color: red;
}

img.icon {
	margin-bottom: 30px;
}

img.icon + h4,
img + h4 {
	font-size: 30px;
}

/* leaderboard backgrounds */

.leader-bg {
    background-color: white;
    background-repeat: no-repeat;
    background-position: left top;	
	height: 100%;
	margin-top: 77px;
	position: relative;
}

.leader-case-study-imh-homepage {
	background: url(../img/case-studies/imh-homepage/homepage-cover.jpg) 0 0 no-repeat;
    background-size: 100%;
}

.leader-bg-homepage {
	background: url(../img/case-studies/imh-homepage/homepage-cover.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.leader-bg-homepage h2.leaderboard {
	top: 60%;
}

.overlay {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #fff;

}

.description-spacing {
	padding: 0 70px;
}

#button {
	background: url(../img/scroll-button.png) 0 0 no-repeat;
	display: block;
	height: 50px;
	position: absolute;
	left: 50%;
	margin-left: -25px;
	bottom: 15%;
	width: 50px;
	cursor: pointer;
}

#myDiv {
	padding-top: 50px;
}

/* case study */

.description-spacing > h3,
.description-spacing > h4 {
	margin-top: 0;
}

.case-border-design .description-spacing > h3,
.case-border-design .description-spacing > p {
	padding-top: 70px;
}

.breakdown-spacing {
	padding: 0 0 30px;
}


/* design sprints */

.process-section {
	color: #fff;
	padding: 125px 0;
	width: 100%;
	height: 400px;
}

.process-copy {
	height: 150px;
	text-align: center;
}

.col-md-9 .process-copy p {
	color: #000;
	padding-top: 11px;
	text-align: left;
}

.process-copy img {
	padding-bottom: 20px;
}

.process-copy p.heading {
	font-size: 30px;
}

p.sub-heading {
	font-size: 20px;
	margin-top: 0;
}

.bg-step-one {
	background: #c80000;
}

.bg-step-two {
	background: #aa0000;
}

.bg-step-three {
	background: #8c0000;
}

.bg-step-four {
	background: #6e0000;
}

.bg-step-five {
	background: #500000;
}

/* homepage */

#homepage-leader {
	height: 100%;
}

#homepage-footer {
	background: #343838;
	height: 280px;
}

#bg-black {
	background: #000;
	color: #fff;
}

p.gateway {
	font-size: 18px;
	padding: 0 50px 60px;
}

/* padding */

.zero-margin {
	margin: 0;
}

.zero-padding,
dd h4.zero-padding {
	padding: 0;
}

.zero-padmarg {
	margin: 0;
	padding: 0;
}

.nav-paddingLR {
	padding: 0 50px;
}

/* padding-top*/
.thirty-padding-top {
	padding-top: 30px;
}

.forty-padding-top {
	padding: 40px 0 0;
}

.seventy-padding-top {
	padding-top: 70px;
}

/* padding-bottom*/

.thirty-padding-bottom {
	padding: 0 0 30px;
}

.fifty-padding-bottom {
	padding: 0 0 50px;
}

.seventy-padding-bottom {
	padding-bottom: 70px;
}

.hundred1-padding-bottom {
	padding: 0 0 100px;
}

dl.dl-horizontal dd {
	margin-bottom: 60px;
}

.pad-alternate {
	padding-top: 80px;
}
/* what we do */

.narrow {
	padding: 0 35px;
}

.service-offering {
	padding: 100px 0;
	border-bottom: 10px solid black;
	border-top: 10px solid black;
}

.bg-product {
	background: #FAD151;
}

.bg-ui {
	background: #738F99;
}

.bg-ux {
	background: #FF9439;
}

.bg-black {
	background-color: #000;
}

.border-right {
	border-right: 2px solid #000000;
}

/* backgrounds */

.bg-product-design-1 {
    background-color: white;
	background: url(../img/homepage-leader.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
    height: 100%;
    padding: 0;
}


.overlay {
	background-color: rgba(255,255,255, 0.6);
	color: #000000;
	height: inherit;
	padding: 50px;
}

.overlay p {
	font-size: 20px;
}

/* our process */

.col-process {
	float: left;
	width: 20%;
}

.process-offering {
	color: #fff;
	height: 400px;
	padding: 40px 0 100px;
}

span.cta {
	padding: 10px;
	border: 4px solid black;
}

a .col-md-4 {
	/*border-bottom: 12px solid #000;*/
	color: #000;
	cursor: pointer;
	padding: 90px 0;
}

a .col-md-4:hover,
a .col-md-4 p.heading:hover {
	color: #fff;
	text-decoration: none;
	transition: color .10s linear;
}

p.heading,
h4.heading {
	font-family: 'sinkin300light', arial, sans-serif;
	font-size: 27px;
	padding: 0 0;
}

h4.heading {
	padding-bottom: 40px;
}

p.heading + p {
	margin: 0;
}

p.services {
	opacity: 0;
	font-size: 18px;
	padding: 0;
}

p.services:hover {
	opacity: 1;
}

/* font styling */

p {
	font-family: 'sinkin400', arial, sans-serif; 
	font-size: 18px;
}

h3.section-title,
h3.section-title-text,
h3.section-title-text-left,
h3.what-we-do {
	color: #0B2A47;
	font-family: 'sinkin400', arial, sans-serif;
	font-size: 45px;
	margin: 0;
	padding: 80px 0;
}

h3.section-title-text {
	padding: 80px 0 40px;
}

h3.section-title-text-left {
	color: #fff;
	padding: 40px 0;
}

h3.what-we-do {
	font-size: 20px;
	padding: 60px 0 20px;
}

h3.what-we-do + p {
	font-size: 30px;
	line-height: 1.6;
	padding-bottom: 60px;
}



h4.breakdown {
	font-size: 27px;
}

.font-white {
	color: #fff;
}


blockquote {
	border: none;
}

blockquote p {
	font-size: 20px;
	font-style: italic;
}

blockquote footer {
	font-family: 'sinkin200', arial, sans-serif;
	font-size: 18px;
}

img.polaroid {
	border: 1px solid #ccc;
	padding: 3px;
}

/* background colors */

.bg-ccc {
	background-color: #cccccc;
}

.bg-f4 {
	background-color: #f4f4f4;
}

a.bg-field-journal {
	background: red;
}

/* case-studies */

.leader {
	background: green;
	padding: 50px 0;
}

.section-break {
	margin: 40px 0;
}

.three-up {
	background: #ececec;
	padding: 45px 0 90px;
}

.three-up-bg {
	background: #ececec;
}

.breakdown-break {
	padding: 0 0 30px;
}

.col-md-4 > h4.break {
	font-size: 24px;
	margin-top: 0;

}

/* product design */

.bg-ps,
.bg-mh {
	padding: 60px 0;
}

.bg-ps {
	background: rgb(236,236,236);
}

.bg-mh {
	background: rgb(214,214,214);
}

img.pd {
	padding: 0 15px;
}

/*.col-md-offset-1 > h4.break, 
.col-md-offset-1 > p {
	margin-left: 15px;
}
*/
.case-border {
	border-top: 1px solid #d1d1d1;
}

.case-border-design {
	border-top: 15px solid #000;
}

.case-border-bottom {
	border-bottom: 1px solid #d1d1d1;
}

.col-md-compare {
	width: 40%;
	padding-left: 20%;
}

/* ------------------ */
/* ----- TABLET ----- */
/* ------------------ */

@media screen and (max-width: 640px) {

#homepage-leader {
	height: 400px;
}


}/* end tablet media screen */


/* ------------------ */
/* ----- MOBILE ----- */
/* ------------------ */

@media screen and (max-width: 640px) {

nav.main {
	height: auto;
	text-align: center;
}			

ul.nav-header {
	margin-right: 50px;
}

ul.nav-header li {
	margin: 0;
	padding: 0;
	width: 100%;

}

h2.logo {
	text-align: center;
}

#homepage-leader {
	height: auto;
}


}/* end mobile media screen 